[submodule "car_detection"]
	path = car_detection
	url = https://github.com/zwh2119/car-detection.git
[submodule "app_schedule"]
	path = app_schedule
	url = https://github.com/zwh2119/application-scheduler.git
[submodule "aggregator"]
	path = aggregator
	url = https://github.com/zwh2119/data-aggregator.git
[submodule "generator"]
	path = generator
	url = https://github.com/zwh2119/data-generator.git
[submodule "edge_controller"]
	path = edge_controller
	url = https://github.com/zwh2119/edge-controller.git
[submodule "cloud_controller"]
	path = cloud_controller
	url = https://github.com/zwh2119/cloud-controller.git
[submodule "data-distributor"]
	path = data-distributor
	url = https://github.com/zwh2119/data-distributor.git
[submodule "face_detection"]
	path = face_detection
	url = https://github.com/zwh2119/face-detection.git
[submodule "pose_estimator"]
	path = pose_estimator
	url = https://github.com/zwh2119/pose-estimator.git
[submodule "resource_monitor"]
	path = resource_monitor
	url = https://github.com/zwh2119/resource-monitor.git
